.all-review img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(54, 50, 42);
}
.all-review {
  background-color: whitesmoke;
  box-shadow: 2px 2px 15px gray;
  border-radius: 10px;
  display: flex;

  align-items: center;
  justify-content: center;

  margin: auto;
  width: 90%;
  height: 100%;
}

.review-detail {
  margin-left: 20px;
  width: 100%;
}
.rating-color {
  color: orange;
}
.review-container {
  margin-top: 60px;
}
