.first-chart {
  display: flex;
  justify-content: center;
  height: 900px;
  margin-top: 100px;
}
.second-chart {
  display: flex;
  justify-content: center;
  height: 900px;
  margin-top: 100px;
}
.third-chart {
  display: flex;
  justify-content: center;
  height: 900px;
  margin-top: 100px;
}
