.single-review img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid orange;
}
.single-review {
  display: flex;
  align-items: center;

  margin: auto;
  width: 600px;
  height: 90%;

  background-color: rgb(128, 167, 185);
}

.single-detail {
  margin-left: 20px;
  width: 100%;
}
.rating-color {
  color: orange;
}
